@import '../../sass/var';
@import '../../sass/mixins';
.custom-divider {
  height: 1px;
  width: 100%;
  background: #dedede;
}
.app-layout {
  transition: all 0.3s ease;
  background: #f9f8f8;
}
.ant-layout {
  background: #f9f8f8;
}
.side-nav-header {
  @include breakpoint(max-lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .side-nav-close {
      margin-right: 3.5rem;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }
}
.dashboard-content {
  padding: 32px 28px;
  // margin-top: $header-height;
  margin-top: 30px;
  min-height: calc(100vh - 94px);
  position: relative;
  @include breakpoint(xxl) {
    padding: 32px 74px;
  }

  .ant-layout-content {
    @include breakpoint(max-xxxl) {
      max-width: 104rem;
      margin: 0 auto;
    }
  }

  .app-breadcrumb {
    margin-bottom: 15px;
  }

  .content-full {
    min-height: 75vh;
  }

  .content-full-no-page-header {
    min-height: 80vh;
  }

  &.layout-top-nav {
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include breakpoint(lg) {
      margin-top: $header-height + $top-nav-height;
      min-height: calc(100vh - 72px - $top-nav-height);
    }
  }

  @include breakpoint(max-lg) {
    margin-bottom: 10rem;
  }
  @include breakpoint(max-md) {
    // margin-top: $header-height + $top-nav-height;
    min-height: calc(100vh - 72px - $top-nav-height);
  }
}

.inner-app-layout {
  background-color: $component-background;
  display: flex;
  border-radius: border-radius-base;

  > .side-content {
    display: flex;

    &.with-border {
      border-right: 1px solid $border-color-base;

      .ant-menu-inline {
        border-right-color: transparent;
      }
    }
  }

  > .main-content {
    min-height: calc(100vh - 72px - $layout-content-gutter * 2 - 2px);
    width: 100%;

    &.has-page-header {
      min-height: 75vh;
    }

    &.gutter {
      padding: 24px;
    }

    &.no-gutter {
      padding: 0;
    }
  }
}

.auth-container {
  height: 100vh;
}

.nav-close {
  .anticon {
    padding: 0.625rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  button {
    height: 40px;
    border-radius: 4px;
    width: 96px;
    padding: 0 18px;
    font-size: 16px;
    font-weight: normal;
    box-shadow: none;
  }
  .discard {
    background: #efeff6;
    border-color: #efeff6;
    color: #7e59d1;
    margin-right: 14px;
    &:hover {
      background: #efeff6;
    }
  }
}
.ant-switch {
  width: 45px;
  height: 22px;
  background-color: #e0e0f5;
}
.ant-switch-checked {
  background-color: #7e59d1;
}
.main-btn-dashboard {
  background: #7e59d1;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0px 10px;
  min-height: 30px;
  font-size: 12px;
  box-shadow: none;
  font-family: 'Poppins-Regular';
}
.dashboard-page-header-container {
  display: flex;
  justify-content: space-between;

  h3 {
    margin-bottom: 6px;
  }
  p {
    font-size: 13px;
    color: #6a6f73;
  }
  .page-header-right {
    display: flex;
    align-items: center;
  }

  @include breakpoint(max-lg) {
    flex-direction: column;
    // margin-bottom: 3rem;
    .page-header-left {
      margin-bottom: 1.5rem;
    }
    .page-header-right {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      .input-search-container {
        margin-bottom: 1.5rem;
      }
      .filter-container {
        margin-left: 0;
        width: 220px !important;
        .ant-select-arrow {
          right: 15px;
        }
      }
    }
  }
  @include breakpoint(max-md) {
    .input-search-container {
      width: 100%;
    }
  }
}
.main-table {
  .ant-table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
}
.hosted-by {
  color: #6a6f73;
  font-size: 12px;
  span {
    &:last-of-type {
      color: #7e59d1;
    }
  }
}
.meeting-members {
  h5 {
    margin: 12px 0 10px;
    font-size: 14px;
    color: #2a2a2a;
    font-family: 'Poppins-Medium';
  }
  .members {
    display: flex;
    .member {
      &:not(:first-child) {
        margin-left: -15px;
      }
      .text {
        font-size: 14px;
      }
    }
  }
}
.ant-modal-mask {
  background: #3f3b4ab0;
}
// .ant-modal-wrap {
//   z-index: 1052 !important;
// }

@import './mainTable.scss';
@import './dashboardForm.scss';
@import './dashboardTabs.scss';
@import './pagination.scss';
@import './my-certificate.scss';
@import './empty-list.scss';
@import './multi-select.scss';
@import './delete-modal.scss';
@import './text-editor.scss';
