.folder-card {
  height: 140px;
  background: #aeaec11a;
  border-radius: 4px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .content {
    h3 {
      color: #3f3a4a;
      font-size: 16px;
      font-family: 'Poppins-Medium';
      margin: 14px 0 0;
    }
  }
}
