.notifications-menu-wrapper {
  width: 34rem;
  max-width: 100%;
  max-height: 65vh;
  overflow: auto;
  li {
    background-color: unset !important;
  }

  .menu-title {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #cecece;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    text-transform: capitalize;
  }

  .menu-msg {
    padding: 2rem 0;
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
  }

  .menu-item {
    display: flex;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #cecece;

    .image-wrapper {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-inline-end: 1rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      font-size: 1.6rem;
      line-height: 1.2;
      text-transform: capitalize;
      max-inline-size: 25ch;

      .title {
      }

      .sub-title {
        font-size: 1.4rem;
        color: #6a6f73;
      }
    }
  }
}
