@import '../../../../../sass/mixins';
.courses {
  .page-header-right {
    a {
      width: 88px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #7e59d1 0% 0% no-repeat padding-box;
      border-radius: 3px;
      color: #fff;
      font-size: 15px;
      svg {
        margin-right: 10px;
      }
      margin-left: 12px;
      &:hover,
      &:focus,
      &:active {
        background-color: #382464;
        transition: all 0.25s ease-out;
      }
    }
    .status-filter {
      &:nth-last-of-type(2) {
        margin: 0 16px;
      }
    }
  }
  @include breakpoint(max-lg) {
    .page-header-right {
      width: 100%;
      width: 220px;
      a {
        margin-left: 0;
      }
      .status-filter {
        margin-bottom: 1.5rem !important;
        width: 100%;
        &:nth-last-of-type(2) {
          margin-left: 0;
          margin-right: 0;
        }
        .ant-select {
          width: 100%;
          .ant-select-selector {
            width: 100%;
          }
        }
        &:last-of-type {
          margin-bottom: 3rem !important;
        }
      }
    }
  }
  @include breakpoint(max-md) {
    .page-header-right {
      width: 100%;
      a {
        margin-left: 0;
        width: 140px;
      }
      // .status-filter {
      //   margin-bottom: 1.5rem !important;
      //   width: 100%;
      //   &:nth-last-of-type(2) {
      //     margin-left: 0;
      //     margin-right: 0;
      //   }
      //   .ant-select {
      //     width: 100%;
      //   }
      //   &:last-of-type {
      //     margin-bottom: 3rem !important;
      //   }
      // }
    }
  }
}
