@import '../../../../sass/mixins';
.jitsi-settings {
  .dashboard-page-title {
    margin-bottom: 27px;
  }
  .jitsi-card {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 28px 66px;
    .dashboard-form {
      .ant-form-item {
        .ant-form-item-label {
          font-size: 16px;
          color: #2a2a2a;
          &::after {
            content: '*';
            color: #fa5c7c;
            font-size: 16px;
            margin-left: 5px;
          }
          padding: 0 0 12px;
        }
      }
    }
  }
  .form-actions {
    justify-content: center;
    margin-top: 42px;
  }
  @include breakpoint(max-lg) {
    .jitsi-card {
      padding: 28px;
    }
    .form-actions {
      .ant-btn-primary {
        font-size: 16px;
      }
    }
  }
}
