@import '../../../../../sass/mixins';
.reviews-table {
  margin-top: 18px;
  background: #ffffff;
  border-radius: 3px;
  .ant-table-bordered {
    .ant-table-container {
      border-left: 0;
    }
    .ant-table-content {
      overflow-x: auto;
      width: 100%;
      table {
        border: 0;
        border-top: 0 !important;
      }
      .ant-table-thead {
        & > tr {
          & > th {
            background: transparent;
            border-right: none !important;
            color: #2a2a2a;
            font-size: 14px;
            font-family: 'Poppins-Medium';
            &:nth-child(n + 1):nth-child(-n + 3) {
              min-width: 150px;
            }
            &:nth-child(4) {
              min-width: 250px;
            }
          }
        }
      }
      .ant-table-tbody {
        & > tr {
          & > td {
            color: #6a6f73;
            font-size: 13px;
          }
        }
      }
      .ant-table-tbody > tr > td,
      .ant-table-thead > tr > th,
      .ant-table tfoot > tr > td,
      .ant-table tfoot > tr > th {
        padding: 16px 20px !important;
        border-right: none !important;
        border-bottom: 1px solid #dbdfea !important;
        &:last-of-type {
          border-right: 0 !important;
        }
      }
      .ant-table-tbody {
        tr {
        }
      }
    }
  }
  @include breakpoint(max-md) {
    .main-table_footer {
      flex-direction: column;
      .ant-pagination {
        margin-top: 1rem;
      }
    }
  }
}
