.course-settings {
  &_body {
    padding: 25px;
    width: 811px;
    .approve-oneonone {
      margin-bottom: 1.5rem;
      align-items: center;
      .header {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .ant-form-item {
        margin-bottom: 5px;
      }
    }
  }
  .pricing-radio {
    padding-bottom: 15px;
  }
  .amount-ques {
    font-size: 15px;
    padding-bottom: 15px;
  }
  .ant-form-item {
    .ant-input-number {
      width: 100%;
    }
  }
  .ant-input-group {
    .ant-select {
      width: 100%;
      .ant-select-selector {
        height: 38px;
      }
    }
  }
  .price-amount {
    margin-bottom: 5px;
  }
  .check-padd {
    padding-bottom: 13px;
  }
  .check-padd2 {
    // padding-bottom: 46px;
    padding-bottom: 16px;
  }
  .check-container {
    width: 811px;
    min-height: 115px;
    border: 1px solid #e5e9f2;
    border-radius: 2px;
    padding: 10px 16px;
    margin-bottom: 18px;
  }
  .check-row1 {
    height: 40px;
  }
  .check-row2 {
    padding-top: 17px;
  }
  .divider-margin {
    margin: 0px;
  }
  .Owner {
    color: #7e59d1;
    font-size: 14px;
    margin-left: 16px;
  }
  .name {
    font-size: 15px;
    margin-left: 10px;
  }
  img {
    width: 36px;
    height: 36px;
  }
  .check-col-pad {
    padding-top: 5px;
  }
  .check-col1 {
    color: #6a6f73;
    font-size: 14px;
  }
  @media screen and (max-width: 1470px) {
    &_body {
      width: 100%;
    }
  }
}
// .ant-select-selection-placeholder {
//   margin-top: 7px;
// }
.btn-add-instructor {
  height: 33px !important;
  width: 80px !important;
  font-size: 15px;
}
// .ant-btn[disabled] {
//   background-color: #aeaec1 !important;
//   color: gray;
// }
.delete-col {
  padding-left: 15px;
  padding-top: 5px;
}
.delete-icon {
  cursor: pointer;
}
