.course-settings {
  &_body {
    padding: 25px;
    width: 811px;
  }
  .header {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  .pricing-radio {
    padding-bottom: 15px;
  }
  .amount-ques {
    font-size: 15px;
    padding-bottom: 15px;
  }
  // .ant-select-selection-item {
  //   // margin-top: 8px;
  // }
  .usd {
    // padding-bottom: 46px;
  }
  .check-padd {
    padding-bottom: 13px;
  }
  .check-padd2 {
    padding-bottom: 46px;
  }
  .check-container {
    width: 811px;
    min-height: 115px;
    border: 1px solid #e5e9f2;
    border-radius: 2px;
    padding: 10px 16px;
    margin-bottom: 18px;
  }
  .check-row1 {
    height: 40px;
  }
  .check-row2 {
    padding-top: 17px;
  }
  .divider-margin {
    margin: 0px;
  }
  .Owner {
    color: #7e59d1;
    font-size: 14px;
    margin-left: 16px;
  }
  .name {
    font-size: 15px;
    margin-left: 10px;
  }
  img {
    width: 36px;
    height: 36px;
  }
  .check-col-pad {
    padding-top: 5px;
  }
  .check-col1 {
    color: #6a6f73;
    font-size: 14px;
  }
}
// .ant-select-selection-placeholder {
//   margin-top: 7px;
// }
.btn-add-instructor {
  height: 33px !important;
  width: 80px !important;
  font-size: 15px;
}
// .ant-btn[disabled] {
//   background-color: #aeaec1 !important;
//   color: gray;
// }
.delete-col {
  padding-left: 15px;
  padding-top: 5px;
}
.delete-icon {
  cursor: pointer;
}
