@import '../../../../../../sass/mixins';
.login-activity-table {
  margin-top: 20px;
  .ant-table-bordered {
    .ant-table-content {
      .ant-table-thead {
        & > tr {
          & > th {
            background: transparent;
            border-right: none !important;
            color: #2a2a2a;
            font-size: 14px;
            font-family: 'Poppins-Medium';
          }
        }
      }
      .ant-table-tbody {
        & > tr {
          & > td {
            color: #6a6f73;
            font-size: 14px;
            font-family: 'Poppins-Medium';
          }
        }
      }
      .ant-table-tbody > tr > td,
      .ant-table-thead > tr > th,
      .ant-table tfoot > tr > td,
      .ant-table tfoot > tr > th {
        padding: 16px 20px !important;
        border-right: none !important;
        border-bottom: 1px solid #dbdfea !important;
        &:last-of-type {
          border-right: 1px solid #dbdfea !important;
        }
      }
    }
  }
  .save {
    width: 74px;
    height: 29px;
    font-size: 13px;
    padding: 0;
    box-shadow: none;
  }
  @include breakpoint(max-lg) {
    .ant-table {
      width: 100%;
      overflow-x: scroll;
      .ant-table-content {
        .ant-table-row {
          .ant-table-cell {
            &:first-child {
              min-width: 270px;
            }
          }
        }
      }
    }
    .ant-pagination {
      justify-content: center;
    }
  }
}
