.edit-answer-modal {
  .ant-modal-header {
    border: 0;
    padding: 27px 26px 0 23px;
    border-radius: 8px 8px 0 0;
    .ant-modal-title {
      color: #2a2a2a;
      font-size: 18px;
      font-weight: normal;
      font-family: 'Poppins-Medium';
    }
  }
  .ant-modal-content {
    border: 1px solid #707070;
    border-radius: 8px;
    box-shadow: none;
    .ant-modal-close-x {
      width: 20px;
      position: absolute;
      height: 20px;
      top: 27px;
      right: 26px;
      line-height: 20px;
    }
    .ant-modal-body {
      padding: 18px 26px 30px 23px;

      .modal-actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
