.main-table {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: none;
  .ant-table-bordered {
    .ant-table-content {
      table {
        border: 0;
        border-top: 0 !important;
        .ant-table-tbody {
          tr {
            td {
              &:first-of-type {
                color: #6a6f73;
                font-size: 13px;
                font-family: 'Poppins-Medium';
              }
            }
          }
        }
      }
    }
  }
  .course-title {
    display: flex;
    align-items: center;
    div {
      &:first-of-type {
        width: 40px;
        margin-right: 12px;
        img {
          width: 100%;
          height: 40px;
          object-fit: cover;
        }
      }
      &:last-of-type {
        width: calc(100% - 40px);
      }
    }
  }
}

.lable {
  color: #707070;
  font-size: 15px;
}
.value {
  color: #2a2a2a;
  font-size: 15px;
  font-weight:500
}
.links-container{
  width: 416px;
min-height: 60px;
 
border: 1px solid #E0E0F5;
border-radius: 4px;
padding: 10px 12px;
}
.links-row{max-height: 310px; overflow:auto;}