@import '../../../sass/mixins';
.reports {
  .page-header-right {
    a {
      width: 129px;
      height: 40px;
      display: inline-block;
      background: #7e59d1;
      border-radius: 3px;
      color: #fff;
      font-size: 15px;
      text-align: center;
      line-height: 40px;
      margin-left: 16px;
      &:hover,
      &:focus,
      &:active {
        background: #4b20d0;
        outline: none !important;
        box-shadow: none !important;
        color: #fff;
        transition: all 0.25s ease-out;
      }
    }
    .status-filter {
      &:nth-last-of-type(2) {
        margin: 0 16px;
      }
    }
  }
  .ant-table-content {
    .ant-table-cell {
      text-align: center;
      &:nth-child(1) {
        min-width: 220px;
        text-align: start;
      }

      &:nth-child(3),
      &:nth-child(5) {
        min-width: 130px;
      }
    }
  }
  @include breakpoint(max-lg) {
    .page-header-right {
      .status-filter {
        width: 220px;
        margin-left: 0 !important;
        margin-bottom: 1rem !important;
        .ant-select {
          width: 100%;
          .ant-select-selector {
            width: 100%;
          }
        }
      }
    }
  }
  .main-table_footer {
    flex-direction: column;
    .change-page {
      margin-bottom: 1rem;
      > span {
        margin-bottom: 0;
      }
      .ant-input-number {
        height: 30px;
      }
    }
  }
}
