@import '../../../../../sass/mixins';
.home-courses {
  // width: 348px;

  background: #ffffff;
  box-shadow: 0px 0px 6px #e5e5e584;
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    h4 {
      font-size: 16px;
      font-family: 'Poppins-Medium';
      margin: 0;
    }
    a {
      color: #7e59d1;
      font-size: 14px;
    }
  }
  .custom-divider {
    background: #dbdfea;
    height: 1px;
    &:last-of-type {
      display: none;
    }
  }
  &_body {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: start;
    .main-details {
      display: flex;
      align-items: start;
      .photo {
        margin-right: 12px;
        img {
          width: 41px;
          height: 41px;
          border-radius: 50%;
        }
      }
      .name {
        div {
          font-size: 14px;
          color: #6a6f73;
          &:first-of-type {
            // height: 21px;
            // line-height: 20px;
            margin-bottom: 5px;
          }
          &:last-of-type {
            font-size: 13px;
          }
        }
      }
    }
    .more-details {
      font-size: 14px;
      color: #6c757d;
      div {
        &:first-of-type {
          height: 21px;
        }
        &:last-of-type {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }
  @include breakpoint(max-md) {
    margin-bottom: 25px;
  }
}
