@import '../../../sass/var';
@import '../../../sass/mixins';
.file-manager {
  .create-file-btn {
    width: 146px;
    height: 40px;
    background: #7e59d1 0% 0% no-repeat padding-box;
    border-radius: 3px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding: 0;
    margin-left: 16px;
    cursor: pointer;
    span {
      margin-left: 10px;
    }
  }
  .file-manager-card {
    background: #ffffff;
    margin-top: 11px;
    display: flex;
    border-radius: 3px;
    .file-Manager-menu {
      height: 611px;
      width: 187px;
      border-right: 1px solid #dbdfea;
      // @include breakpoint(xxl) {
      //   width: 351px;
      // }
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .file-Manager-nav {
        display: flex;
        flex-direction: column;
        margin-top: 34px;
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 7px 32px;
          font-size: 15px;
          color: #6a6f73;

          &:hover,
          &:focus {
            color: #7e59d1;
            svg {
              path {
                fill: #7e59d1;
              }
            }
          }
          span {
            &:first-of-type {
              display: flex;
              align-items: center;
              svg {
                margin-right: 10px;
              }
            }
          }
        }
        a.active {
          background: #dbdfea80 0% 0% no-repeat padding-box;

          color: #7e59d1;
          svg {
            path {
              fill: #7e59d1;
            }
          }
        }
      }
      .menu-footer {
        padding: 0 22px 32px 32px;
        .header {
          color: #6a6f73;
          font-size: 15px;
          display: flex;
          align-items: center;
          span {
            display: inline-block;
            margin-left: 10px;
          }
        }
        .ant-progress {
          .ant-progress-outer {
            .ant-progress-inner {
              background-color: #e0e0ee;
              .ant-progress-bg {
                height: 4px !important;
                background-color: #7e59d1;
              }
              .ant-progress-success-bg {
                background-color: #7e59d1;
              }
            }
          }
        }
        .used-data {
          white-space: nowrap;
          color: #6a6f73;
          font-size: 12px;
          margin: 10px 0 8px;
        }
        .upgrade {
          color: #7e59d1;
          font-size: 12px;
        }
      }
    }
    .card-content {
      width: calc(100% - 187px);
      padding: 36px 24px;
      .files-home {
        .folder-card {
          padding: 0 15px;
        }
        .files {
          .file-card {
            .date-size {
              margin-top: 3px;
            }
          }
        }
      }
    }
  }

  @include breakpoint(max-lg) {
    .file-manager-card {
      flex-direction: column;
      .file-Manager-menu {
        // flex-direction: row;
        height: auto;
        border-right: none;
        border-bottom: 1px solid $bg-hover-color;
        width: 100%;
        .ant-tabs {
          // padding: 0 10px;
          .ant-tabs-nav {
            .ant-tabs-tab {
              margin-left: 10px;
            }
          }
        }
        .menu-footer {
          width: 180px;
          padding: 10px 45px 25px 12px;
          .ant-progress {
            &.ant-progress-line {
              margin-bottom: 0;
              padding-bottom: 0;
            }
          }
        }
      }
      .card-content {
        width: 100%;
        padding: 36px 14px;
        .files-home {
          .folder-card {
            .content {
              h3 {
                font-size: 14px;
              }
            }
          }
        }
        .files {
          .ant-col {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
    .create-file-btn {
      padding-left: 0;
      margin-left: 0;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }
  }
}
