@import '../../../sass/var';
@import '../../../sass/mixins';

.categories {
  margin-bottom: 30px;
  position: relative;
}

.category_item {
  margin: auto;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  .category_img {
    height: 42px;
    width: 47px;
    position: relative;
  }
  .category_name {
    color: $desc-color;
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    letter-spacing: 0.5px;
  }

  .big {
    margin: auto;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 162px;
    flex-wrap: wrap;
    text-decoration: none;
    margin-bottom: 1rem;
    border-radius: 4px;

    &:nth-child(4n),
    &:nth-child(4n + 1) {
      background-color: #e4ebf5;
      border: 1px solid #8caee1;
    }

    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      background-color: #f9f3e5;
      border: 1px solid #f6d691;
    }

    .category_img {
      height: 42px;
      width: 50px;
      position: relative;
    }
    .category_name {
      color: $desc-color;
      margin: 0;
      margin-top: 10px;
      font-size: 12px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      letter-spacing: 0.5px;
    }

    &:last-child {
      margin: 0;
      margin-left: 5px;
    }
  }
}

// .category_name {
//   color:  $desc-color;
//   margin: 0;
//   margin-top: 10px;
//   font-size: 12px;
//   font-weight: 600;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   width: 100%;
//   letter-spacing: .5px;
// }
