.ant-input-group-wrapper {
  width: 321px;
  height: 38px;
  margin-left: 20px;
  .ant-input {
    background: #f3f1f8;
    border-color: #f3f1f8;
    height: 38px;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      border-color: transparent;
    }
  }
  .ant-input-group-addon {
    .ant-input-search-button {
      border-radius: 0 3px 3px 0;
      height: 38px;
      background: #7e59d1;
      border-color: #7e59d1;
      text-shadow: none;
      box-shadow: 0px 3px 6px #00000029;
    }
  }
}
